<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>121970289218-274imd580liugbcvmnkn1gnhrj4idfkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121970289218-274imd580liugbcvmnkn1gnhrj4idfkt</string>
	<key>API_KEY</key>
	<string>AIzaSyDp9Myf8tTrPvH0jgWyM-WXCMEmdm9YCeE</string>
	<key>GCM_SENDER_ID</key>
	<string>121970289218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abdulaziz-Ismail.InstgramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone879</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:121970289218:ios:d980b3263367c4f7</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone879.firebaseio.com</string>
</dict>
</plist>